@font-face { font-family: ETBembo;
    src: url("ETBembo-RomanLF.ttf"); }

@font-face { font-family: ETBembo;
    src: url("ETBembo-DisplayItalic.ttf");
    font-weight: normal;
    font-style: italic; }

